<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-detect-webview-engine" version="3.0.1">
    <name>DetectWebViewEngine</name>
    <description>Apache Cordova plugin to determine whether the application is using UIWebView or WKWebView engine</description>
    <author>Tim Brust</author>
    <license>MIT</license>
    <keywords>cordova,ios,webview,wkwebview,uiwebview</keywords>

    <engines>
        <engine name="cordova" version=">=9.0.0" />
        <engine name="cordova-ios" version=">=5.0.0" />
    </engines>

    <js-module src="dist/www/detect-webview-engine.js" name="DetectWebViewEngine">
        <clobbers target="cordova.plugins.webviewEngine" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="DetectWebViewEngine">
                <param name="ios-package" value="DetectWebViewEngine" />
            </feature>
        </config-file>

        <source-file src="src/ios/DetectWebViewEngine.swift" />
    </platform>
</plugin>
